@model WebAppHollywood.Areas.Customer.ViewModels.ActorIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    #searchButton {
        border-radius: 13px;
        background-color: #2b66c4;
    }

</style>


<div class="container">
    <div class="row">
        <div class="col-12" style="height:40px;">

        </div>
    </div>



    <button class="home__nav home__nav--prev" data-nav="#flixtv-hero" type="button"></button>
    <button class="home__nav home__nav--next" data-nav="#flixtv-hero" type="button"></button>
</div>
<!-- end home -->
<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="catalog__nav">
                    <form>
                        <div class="catalog__select-wrap">
                            <select class="catalog__select" name="genres">
                                <option value="All genres">All genres</option>
                              @foreach (var genre in Model.GenrePlayed)
                              {
                                  <option>@genre</option>
                              }
                            </select>

                            <select class="catalog__select" name="years">
                                <option value="All the years">All the years</option>
                                <option value="1">'50s</option>
                                <option value="2">'60s</option>
                                <option value="3">'70s</option>
                                <option value="4">'80s</option>
                                <option value="5">'90s</option>
                                <option value="6">2000-10</option>
                                <option value="7">2010-20</option>
                                <option value="8">2021</option>
                            </select>


                            <select class="catalog__select" name="searchCountry">

                                <option value="All">All Countries</option>


                                @foreach (var country in Model.Countries)
                                {
                                    if (country.Key == Entities.Models.Country.United_States_of_America)
                                    {
                                        <option value="@country.Key">USA (@country.Count())</option>
                                    }
                                    else
                                    {
                                        <option value="@country.Key">@country.Key.ToString().Replace("_", " ") (@country.Count())</option>
                                    }

                                }



                            </select>
                            <input id="searchButton" type="submit" value="Search" class="btn btn-primary" />
                        </div>

                    </form>
                    <div class="slider-radio">
                        <input type="radio" name="grade" id="featured" checked="checked"><label for="featured">Featured</label>
                        <input type="radio" name="grade" id="popular"><label for="popular">Popular</label>
                        <input type="radio" name="grade" id="newest"><label for="newest">Youngest</label>
                    </div>
                </div>

                <div class="row row--grid">

                    @foreach (var actor in Model.Actors)
                    {
                        <div class="col-2 col-sm-2 col-lg-2 col-xl-2">
                            <div class="card">
                                <a href="~/Customer/Actor/Details/@actor.ActorId" class="card__cover">
                                    <img src="@actor.PhotoUrl" alt="">
                                </a>
                                <h3 class="card__title"><a href="details.html">@(actor.FirstName + " " + actor.LastName)</a></h3>
                                <ul class="card__list">
                                    @foreach (var genre in actor.Movies.Select(x => x.Genre?.Kind).ToList().Distinct())
                                    {
                                        <li>
                                            @genre
                                        </li>

                                    }
                                </ul>

                                <ul class="card__list">

                                    @if (actor.DateOfDeath == null)
                                    {
                                        <li>@(DateTime.Now.Year - actor.DateOfBirth.Year) Years old</li>

                                    }


                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </div>
</div>



